@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');
/* NavBar Selectors */

.modalBox{
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 15px;
        width: 600px;
        height: 70vh;
        border: 2px solid #003767;
}


.mainContainer{
    overflow-x: hidden;
}

.navList{
display: flex;
flex-direction: row;
overflow-x: hidden;
justify-content: space-between;
align-items: center;
list-style-type: none;
}

.searchContainer{
    display: flex;
    border: 3px solid #003767;
    width: 400px;
    height: 45px; 
    overflow: hidden;
    border-radius: 15px;
    display: flex;
}

.searchBox{
border: 0;
padding-top: 5px;
padding-left: 10px;
height: 45px;
width: 390px;
text-align: left;
font-size: 20px;
}

.SearchIcon{
width: auto;
align-self: center;
position: relative;
margin-left: 5px;
margin-top: 3px;
height: 20px;
}

.NavIcons{
    width: auto;
    height: 40px;
}

.NavIconsList{
    width: auto;
    height: 35px;
}

.SearchListItem{
    justify-content: center;
    align-items: center;
}

.navRight{
    align-self: flex-end;
}

.navLeft{
    justify-content: flex-start;
}

.boxWrapper{
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.boxImageBanner{
    background: url(img/computerlab.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 110px;
}

.box{
    background-color: white;
    width: 335px;
    height: 335px;
    margin-top: 25px;
    margin-left: 25px;
    border: 1.5px solid #003767;
    justify-self: flex-start;
}

.roomTitleStatus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.roomTitle{
    color: #003767;
    margin-left: 20px;
    font-family: 'Domine', serif;
    font-size: 1.75rem;

}

.roomDesc{
    color: #8E9AA2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65rem;
    white-space: nowrap;
    margin-left: 10px;
}

.availBubble{
    display: flex;
    background-color: #00B2CE;
    width: 184px;
    height: 40px;
    color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.availBubble h2{
    font-weight: 700;
    font-size: 0.90rem;
}

.exploreBtn{
    width: 150px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #00B2CE;
    color: white;
    margin-left: 10px;
}

.buttonIconsWrapper{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.roomIcon{
    width: auto;
    height: 25px;
}

.iconsRight{
    justify-self: end;
}